.work .headline {
    color: var(--shade1, #FFF);
    /* font-family: Outfit; */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

}


.work .sub-headline {
    color: var(--shade-2, #B3B3B3);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.work {
    margin-top: 180px
}

.work .see-all-projects {
    color: var(--shade1, #FFF);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    text-decoration-line: underline;
}